# Dependencias
node_modules/
.npm/
dist/
build/

# Variables de entorno (¡MUY IMPORTANTE NO SUBIR ESTOS!)
.env
.env.local
.env.*.local

# Datos de persistencia (Base de datos y subidas)
mysql_data/
SCHRTyC/backend/uploads/*
!SCHRTyC/backend/uploads/.gitkeep

# Archivos de sistema
.DS_Store
Thumbs.db
.gemini/
.antigravity/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
