PORT=3001
JWT_SECRET=tu_secreto_aqui
ADMIN_EMAIL=admin@example.com
ADMIN_HASH=el_hash_de_tu_password_aqui
EDITOR_EMAIL=editor@example.com
EDITOR_HASH=el_hash_de_tu_password_aqui

# Google Sheets (opcional)
GOOGLE_KEY_FILE=./google-credentials.json
SHEETS_ID=tu_id_de_google_sheets
